h1{
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
}
h1>p{
    text-align: inherit;
    font-style: italic;
    font-family: monospace;
}
body{
    color: whitesmoke;
    text-align: center;
    padding: 10%;
    margin: inherit;
    font-size: 2em;
    background-image: url('/img/bg3.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
    backdrop-filter: blur(5px);
}